.login {
  margin: 2.5vh 5vw;
  display: flex;
  background-color: #2ec4b6;
  overflow: hidden;
}
.login p {
  font-family: hoss-round, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #100c08;
}
.login h1, .login h2 {
  font-family: fatfrank, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
  width: 15vw;
  position: relative;
  top: 25%;
  left: 27%;
}

.columnL h2 {
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  top: 35%;
  right: 5%;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.columnL {
  width: 40vw;
  background-image: url(blank-map.png);
  background-size: 90%;
  background-repeat: no-repeat;
  height: 100vh;
}

.columnR {
  padding: 30vh 10vw;
  width: 30vw;
  height: 100vh;
}

form {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  width: 25rem;
}
form ::-moz-placeholder {
  font-family: hoss-round, sans-serif;
}
form ::placeholder {
  font-family: hoss-round, sans-serif;
}

input[type=text] {
  flex-grow: 2;
  border: none;
  border-radius: 4px 0px 0px 4px;
  padding: 10px 20px;
  background-color: #f8f8f8;
}

#email:focus {
  outline: none;
}

form:focus-within {
  outline: 2px solid #ff9f1c;
}

#validate {
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 0px 4px 4px 0px;
  background-position-y: center;
  background-color: #f8f8f8;
  background-image: url(arrow-forward.png);
  background-repeat: no-repeat;
  background-size: 60%;
}

.button-login {
  padding: 5%;
}
.button-login button {
  display: block;
  font-family: hoss-round, sans-serif;
  font-weight: bold;
  margin: 0.5rem;
  padding: 0.75rem;
  width: 20rem;
  border-radius: 4px;
  border-color: #f8f8f8;
  background-color: #f9b351;
  color: #100c08;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

#menu-icon {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#profile {
  height: 1.5rem;
  width: 1.5rem;
  border: 2px solid;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("profile.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#mail {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("new-mail.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

#notification {
  height: 1.5rem;
  width: 1.5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url("notification.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.active-area {
  width: 80vw;
  margin-left: 30vw;
  margin-right: 10vw;
  padding: 5rem;
}

.menu {
  padding: 8rem 4rem;
  width: 20vw;
  height: 100vh;
  position: fixed;
  background-color: #2ec4b6;
}
.menu img {
  display: inline;
  height: 5%;
}
.menu a {
  display: block;
  margin: 1rem;
  padding: 1rem;
  text-decoration: none;
  font-family: hoss-round, sans-serif;
  font-weight: normal;
  color: #100c08;
}
.menu h3 {
  font-family: fatfrank, sans-serif;
  letter-spacing: 1px;
  font-size: 28px;
  display: inline;
  padding: 1rem;
  position: relative;
  bottom: 1%;
  color: #f8f8f8;
  mix-blend-mode: lighten;
  opacity: 85%;
}

.menu.collapse {
  align-items: center;
  width: 4rem;
  height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #2ec4b6;
  position: fixed;
}
.menu.collapse button {
  margin: 1rem;
}

.active-area.collapse {
  margin-left: 10vw;
}
.active-area.collapse h1 {
  margin-top: 5vh;
  margin-bottom: 2vh;
  padding: 0 10vw;
}
.active-area.collapse p {
  padding: 1vh 10vw;
}

.lesson-header {
  max-width: 80%;
  display: flex;
  margin: auto;
  padding: 0.5rem 1.5rem;
  border: 1px solid #100c08;
  border-radius: 4px;
}
.lesson-header button {
  position: relative;
  right: -80%;
  top: 1rem;
  height: 20px;
  width: 20px;
}
.lesson-header h3 {
  font-size: 1rem;
}

a:hover {
  background-color: rgba(248, 248, 248, 0.3725490196);
}

.nav {
  position: relative;
  top: 40px;
}

.scroll-wrap {
  max-height: 20rem;
  display: flex;
  overflow-x: auto;
  width: 60vw;
  padding-bottom: 10px;
}

.scroll-wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f8f8f8;
}

.scroll-wrap::-webkit-scrollbar {
  width: 12px;
  background-color: #f8f8f8;
}

.scroll-wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ff9f1c;
}

.scroll-item {
  min-width: 18rem;
  height: 18rem;
  line-height: 110px;
  text-align: center;
  background-color: #ddd;
  margin-right: 2rem;
  border-radius: 4px;
}

.game-container {
  background-image: url(starting-bkgd.jpg);
  background-position-y: -70px;
  background-size: cover;
  margin: auto;
  margin-top: 5vh;
  padding: 1rem;
  width: 65vw;
  height: 60vh;
  border: 1px solid #100c08;
}

.stats {
  display: flex;
}
.stats #level {
  width: 5rem;
  position: relative;
  left: -150px;
}
.stats #score {
  width: 5rem;
  position: relative;
  left: -450px;
}

.question {
  background-color: rgba(248, 248, 248, 0.7);
  display: grid;
  grid-template-rows: auto auto auto;
  position: relative;
  top: 10vh;
  left: 10vw;
  width: 40vw;
  border: 1px solid #100c08;
  border-radius: 4px;
  height: 40%;
  padding-left: 50px;
}
.question p {
  margin-left: -20%;
  text-align: center;
  width: 80%;
}
.question form {
  display: grid;
  grid-template-columns: 20px 400px 20px 400px;
  grid-template-rows: 30px;
  align-items: center;
}

.question form:focus-within {
  outline: none;
}

#submit {
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 4px;
  width: 10rem;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */