//Color Palette
$mainColor: #2ec4b6;
$secondColor: #ff9f1c;
$thirdColor: #e71d36;
$backgroundColor: #f8f8f8;
$textColor: #100c08;

//Typography
$bodyFont: hoss-round, sans-serif;
$headingFont: fatfrank, sans-serif;

//Login Page Styles
.login {
    margin: 2.5vh 5vw; 
    display: flex;
    background-color: $mainColor;
    overflow: hidden;

    p {
        font-family: $bodyFont;
        font-weight: 400;
        font-style: normal;
        color: $textColor;
    }

    h1, h2 {
        font-family: $headingFont;
        font-weight: 400;
        font-style: normal;
    }
}

.logo {
    width: 15vw;
    position: relative;
    top: 25%;
    left: 27%;
 }

.columnL h2  {
    font-size: 16px;
    letter-spacing: 1px;
    position: relative;
    top: 35%;
    right: 5%;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
}

.columnL {
    width: 40vw;
    background-image: url(blank-map.png);
    background-size: 90%;
    background-repeat: no-repeat;
    height: 100vh;
}

.columnR {
    padding: 30vh 10vw;
    width: 30vw;
    height: 100vh;
}

form {
    margin-bottom: 30px;
    display: flex;
    flex-direction:row;
    border-radius: 4px;

    width: 25rem;
    ::placeholder {
        font-family: $bodyFont;
    }
}

input[type=text] {
    flex-grow:2;
    border: none;
    border-radius: 4px 0px 0px 4px;
    padding: 10px 20px;
    background-color: $backgroundColor;
}
  
#email:focus {
    outline: none;
}
  
form:focus-within { 
    outline: 2px solid $secondColor; 
}

#validate {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 0px 4px 4px 0px;
    background-position-y: center;
    background-color: $backgroundColor;
    background-image: url(arrow-forward.png);
    background-repeat: no-repeat;
    background-size: 60%;
}

.button-login {
    padding: 5%;
    button {
        display: block;
        font-family: $bodyFont;
        font-weight: bold;
        margin: .5rem;
        padding: .75rem;
        width: 20rem;
        border-radius: 4px;
        border-color:$backgroundColor;
        $secondColor: #f9b351;
        background-color: $secondColor;
        color:$textColor
    }
}

//Platform Styles
body {
    width: 100vw;
    overflow-x: hidden;   
}

#menu-icon {
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

#profile {
    height: 1.5rem;
    width: 1.5rem;
    border: 2px solid;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("profile.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

#mail {
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("new-mail.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

#notification {
    height: 1.5rem;
    width: 1.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("notification.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

#star, #credits {
    height: 1.5rem;
    width: 1.5rem;
    padding: 5px;
    position: relative;
    top: 10px;
}

.active-area {
    width: 80vw; 
    margin-left: 27vw;
    margin-right: 10vw;
    padding: 5rem;
    h1, h2, h3, h4 {
        font-family: $headingFont;
        letter-spacing: 1px;
    }
    p {
        font-family: $bodyFont;
        font-size: 12px;
    }
    .course-page {
        width: 60vw;
    }
    #mail {
        position: relative;
        left: 59%;
        margin: 0 5px;
    }
    
    #notification {
        margin: 0 5px;
        position: relative;
        left: 59%;
    }
}

#cs-header {
    background-color: rgba($color: $secondColor, $alpha: .7);
    background-blend-mode: screen;
    width: 55vw;
    align-items: center;
    border: 1px solid $textColor;
    border-radius: 4px;
    padding: 2rem 3rem;
    line-height: 1.5;
    section {
        width: 50%;
    }
}

.main-bar {
    width: 300px;
    height: 10px;
  }

progress {
    border-radius: 4px; 
    height: 5px;
    box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
    margin: 15px 0;
  }
  progress::-webkit-progress-bar {
    background-color: $backgroundColor;
    border-radius: 4px;
  }
  progress::-webkit-progress-value {
    background-color: (rgba($color: $thirdColor, $alpha: .7));
    border-radius: 4px;
    box-shadow: 1px 1px 5px 3px (rgba($color: $secondColor, $alpha: .1));
  }

.my-dashboard {
    background-color: $mainColor;
    display: flex;
    width: 55vw;
    align-items: center;
    border: 1px solid $textColor;
    border-radius: 4px;
    padding: 1rem 2rem;
    > div {
        margin: 5% 2%;
    }
    h1 {
        color: $backgroundColor;
    }
    h2 {
        font-size: 1.1rem;
        margin-bottom: -5px;
    }
    h3 {
        font-size: 1rem;
    }
    p, img {
        align-content: center;
        display: inline;
    }
}

.side-quests {
    display: flex;
    flex-direction: row;
    width: 20%;
    div {
        background-color: (rgba($color: $backgroundColor, $alpha: .7));
        padding: 1rem 2rem;
        border: 3px solid $backgroundColor;
        border-radius: 4px;
        margin: 0 2%;
    }
}

.menu {
    padding: 8rem 4rem;
    width: 20vw;
    height: 100vh;
    position: fixed;
    background-color: $mainColor;
    
    img {
        display: inline;
        height: 5%;
    }

    a {
        display: block;
        margin: 1rem;
        padding: 1rem;
        text-decoration: none;
        font-family: $bodyFont;
        font-weight: normal;
        color: $textColor;
    }

    h3 {
        font-family: $headingFont;
        letter-spacing: 1px;
        font-size: 28px;
        display: inline;
        padding: 1rem;
        position: relative;
        bottom: 1%;
        color: $backgroundColor;
        mix-blend-mode: lighten;
        opacity: 85%;
    }
    
}

.profile-header {
    display: flex;
    align-items: center;
}

.profile-header #profile {
    margin-right: 20px;
}

#lesson-list {
    padding: 3rem;
}

.lesson {
    background-color: rgba($color: $mainColor, $alpha: .7);
    height: 50px;
    border: 1px solid $textColor;
    border-radius: 4px;
    width: 55vw;
    margin: 1.5rem 0;
    padding: .5rem 1rem;
    a {
        text-decoration: none;
        font-family: $bodyFont;
        font-size: .75rem;
        color: $textColor;
        padding: 10px 20px;
    }
    img {
        height: 2rem;
        position: relative;
        top: 10px;
    }
}

.undone {
    background-color: rgba($color: $secondColor, $alpha: .7);
    a {
        position: relative;
        top: 1rem
        
    }
}

.locked {
    background-color: rgba($color: $thirdColor, $alpha: .7);
}

.menu.collapse {
    align-items: center;
    width: 4rem;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-color: $mainColor;
    button {
        margin: 1rem;
    }
    position: fixed;
}

.active-area.collapse {
    $margin: 20vw; 
    @if $margin == 20vw {
        margin-left: 10vw;
    }
    width: 75%;
    
}

.lesson-header {
    background-color: rgba($color: $secondColor, $alpha: .7);
    border: 1px solid $textColor;
    border-radius: 4px;
    padding: .5rem 1.5rem;
    display: flex;
    section {
        margin: 1rem 1.5rem;
        padding: 0 50px;
    }
    ul {
        font-family: $bodyFont;
        font-size: .9rem;
        line-height: 2;
    }
    div {
        background-color: rgba($color: $mainColor, $alpha: .7);
        border: 1px solid $textColor;
        border-radius: 4px;
        padding: .5rem 1.5rem;
        margin: 1rem;
        width: 400px;  
        height: 60px; 
    }
    h2 {
        text-align: center;
        font-size: 1.3rem;
    }
    progress {
        border-radius: 4px; 
        height: 5px;
        width: 400px;
        box-shadow: 1px 1px 4px rgba( 0, 0, 0, 0.2 );
        margin: 0 0 10px;
      }
}

.main-body {
    width: 60%;
    margin: auto;
    padding: 3rem 2rem;
    p {
        line-height: 1.5;
    }
    iframe {
        margin-left: 3rem;
        padding: 3rem;
    }
    h2 {
        text-align: center;
        margin: 4rem 0;
    }
}

.practice-question {
    background-color: rgba($color: $secondColor, $alpha: .7);
    border: 1px solid $textColor;
    border-radius: 4px;
    padding: 2rem 2.5rem;
    p {
          font-size: 1rem;
    }
    form {
        font-family: $bodyFont;
        font-size: .75rem;
        width: 100%;
        align-items: center;
    }
     label {
         margin: 1rem 1rem;
     }
}

.submit {
    position: relative;
    top: 40px;
    right: -10px;
    border-radius: 2px;
    border: 2px solid $backgroundColor;
    padding: .5rem;
}

#next-page {
    border-radius: 4px;
    border: 1px solid $textColor;
    padding: 1rem 2rem;
    color: $backgroundColor;
    font-family: $headingFont;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: rgba($color: $thirdColor, $alpha: .7);
    position: relative;
    left: 65vw;
    margin: 2rem;
}

a:hover {
    $backgroundColor: #f8f8f85f;
    background-color: $backgroundColor;
}

.nav {
    position: relative;
    top: 40px;
}

.scroll-wrap {
    max-height: 20rem;
    display: flex;
    overflow-x: auto;
    width: 60vw;
    padding-bottom: 10px;
}

.scroll-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: $backgroundColor;
  }
  
.scroll-wrap::-webkit-scrollbar {
    width: 12px;
    background-color: $backgroundColor;
  }
  
.scroll-wrap::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: $secondColor;
  }

.scroll-item {
    padding: .5rem 1rem;
    min-width: 18rem;
    height: 18rem;
    line-height: 110px;
    text-align: center;
    background-color: $mainColor;
    margin-right: 2rem;
    border-radius: 4px;
    font-family: $bodyFont;
    font-weight: bold;
    font-size: 14px;
}
.my-courses {
    margin-top: 5vh;
}

.game-header {
    max-width: 80%;
    display: flex;
    margin: auto;
    padding: .5rem 1.5rem;
    border: 1px solid $textColor;
    border-radius: 4px;
    background-color: rgba($color: $secondColor, $alpha: .7);
    button {
        position: relative;
        right: -80%;
        top: 1rem;
        height: 20px;
        width: 20px;
    }
    h3 {
        font-size: 1rem;
    }
    + h1 {
        margin-top: 5vh;
        margin-bottom: 2vh;
        padding: 0 10vw;
    }
    ~ p {
        padding: 1vh 10vw;
        line-height: 1.5;
    }
}

.game-container {
    background-image: url(starting-bkgd.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 10vh;
    padding: 1rem;
    width: 60vw;
    height: 60vh;
}

.stats {
    color: $backgroundColor;
    display: flex;
    #level {
        width: 5rem;
        padding-left: 5rem;
        font-size: 1rem;
    }
    #score {
        width: 5rem;
        font-size: 1rem;
    }
}

.question {
    background-color: rgba($color: $backgroundColor, $alpha: .7);
    display: grid;
    grid-template-rows: auto auto auto; 
    position: relative;
    top: 10vh;
    left: 10vw;
    width: 40vw;
    border: 1px solid $textColor;
    border-radius: 4px ;
    height: 40%;
    p {
        margin: auto;
        padding: 2rem 0;
        text-align: center;
        width: 90%;
        font-size: 1rem;
    }

    form {
        display: grid;
        padding: 0 3rem;
        grid-template-columns: 20px 400px 20px 400px;
        grid-template-rows: 30px;
        align-items: center;
        font-family: $bodyFont;
        font-size: .8rem;
    }
}

.question form:focus-within {
    outline: none;
}

#submit  {
    margin: auto;
    margin-bottom: 2rem;
    border-radius: 4px;
    width: 10rem;
    text-align: center;
    padding: .5rem 2rem;
    background-color: rgba($color: $secondColor, $alpha: .5);
}